# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
.venv/

# Flask instance folder
instance/

# Uploads / user files
uploads/

# OS files
.DS_Store
Thumbs.db

# API keys
API_Keys/API_keys.py
